{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Django Tailwind
      {% endblock title %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Organization chart">
    <meta name="keywords" content="Organization chart">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
  </head>
  <body class="bg-gray-50 font-serif leading-normal tracking-normal">
    <div class="border container mx-auto">
      {% block content %}
        <section class="flex items-center justify-center h-screen">
          <h1 class="text-5xl">Django + Tailwind = ❤️</h1>
        </section>
      {% endblock content %}
    </div>
  </body>
</html>
