<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'orgchart/style.css' %}">
    <title>Organization chart</title>
  </head>
  <body>
    <div class="tree">
      <ul>
        <li>
          <a href="#">
            <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                 alt="img">
            <span>Child</span>
          </a>
          <ul>
            <li>
              <a href="#">
                <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                     alt="img">
                <span>Grand Child</span></a>
              <ul>
                <li>
                  <a href="#">
                    <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                         alt="img">
                    <span>Great Grand Child</span></a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                         alt="img">
                    <span>Great Grand Child</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                     alt="img">
                <span>Grand Child</span></a>
              <ul>
                <li>
                  <a href="#">
                    <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                         alt="img">
                    <span>Great Grand Child</span></a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                         alt="img">
                    <span>Great Grand Child</span></a>
                </li>
                <li>
                  <a href="#">
                    <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                         alt="img">
                    <span>Great Grand Child</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                     alt="img">
                <span>Grand Child</span></a>
              <ul>
                <li>
                  <a href="#">
                    <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png"
                         alt="img">
                    <span>Great Grand Child</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
